{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "amd": false,
  },
  "plugins": ["import"],
  "rules": {
    "function-paren-newline": 0,
    "no-console": ["warn", { allow: ["warn", "error"] }],
    "no-plusplus": ["error", { allowForLoopAfterthoughts: true }],
    "import/no-unresolved": 2,
    "import/no-amd": "error",
    "import/no-webpack-loader-syntax": "error",
    "import/no-extraneous-dependencies": [
      "error",
      { devDependencies: true, optionalDependencies: false, peerDependencies: false },
    ],
    "react/jsx-filename-extension": [1, { extensions: [".js", ".jsx"] }],
    "react/forbid-prop-types": [0, { forbid: [0] }],
    "react/no-typos": 0,
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
    }
  }
}
